.top {
    height: 4em;
}

.bottom {
    height: 10em;
}

#output_wrapper {
    font-size: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
}

#output {
    width: auto;
}

.level
{
	margin-bottom: 1.8vw;
}

.constituent
{
	display: inline-block;
	position: relative;
	border-bottom: 2px solid #111;
}


.constituent .function
{
	position: absolute;
	
	bottom: -140%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */

    font-size: 0.8em;
}